html {
    padding: 0px;
    margin: 0px;
}

body {
  background-image: url(/img/blue-background.jpg);
  background-position: center;
  background-position-y: -70px;
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  }

/* TOP */

.logo>a>img{
  width: 190px;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}

.login>a>img{
float: right;
width: 65px;
margin-top: -42px;
margin-right: 40px;
}

/* NavBar */
#menu-nav {
max-width: 900px;
margin: -5px auto;
background-color: #639cdd9f;
border-radius: 4px;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#navigation-bar ul {
margin: 0px;
border-radius: 4px;
overflow: hidden;
display: flex;
justify-content: center;
}
#navigation-bar li {
float: left;
width: 80%;
}
#navigation-bar li:hover a::before {
right: 0;
left: 0;
}
#navigation-bar a {
color: #700d26;
font-size: 22px;
text-decoration: none;
text-align: center;
padding: 20px 0;
display: block;
position: relative;
transition: all 0.3s ease;
}
#navigation-bar a:hover {
color: #ffffff;
}
#navigation-bar a::before {
content: "";
transition: all 0.4s ease-in-out;
position: absolute;
right: 50%;
left: 50%;
bottom: 0;
height: 2px;
background-color: #ffffff;
}
#navigation-bar a:hover::before {
right: 0;
left: 0;
}

li {
  list-style: none;
}
/* Categories */

.categories{
    background-color: rgba(255, 255, 255, 0.514);
    margin-top: 230px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.categ {
    margin-top: -25px;
    background-color: rgb(199, 135, 15);
    transition: transform .2s; /* Animation */
    width: 230px;
    height: 230px;
    border-radius: 9px;
  }
  
.categ:hover {
    transform: scale(1.5);
}

.categ>a{
    text-decoration: none;
    
    
}

.categ>a>h2{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    color: black;
}

.categ>a>img{
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
}


/* Footer */

footer{
    background-color: rgba(78, 78, 78, 0.925);
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
