body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5)), url(/img/blue-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title {
    margin-top: 100px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title {
    font-size: 32px;
    line-height: 10px;
}

.logo>a>img{
    width: 190px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }
  .login>a>img{
    float: right;
    width: 65px;
    margin-top: -42px;
    margin-right: 40px;
  }
  
/* NavBar */
  #menu-nav {
    max-width: 900px;
    margin: -5px auto;
    background-color: #639cdd9f;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navigation-bar ul {
    margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  #navigation-bar li {
    float: left;
    width: 80%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #700d26;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #ffffff;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
  
  li {
      list-style: none;
  }

  form {
      margin-top: 50px;
      transition: all 4s ease-in-out;
  }

  .form-control {
      width: 600px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      color: #fff;
      font-size: 18px;
      margin-bottom: 16px;
  }

  input {
      height: 45px;
  }

  form .submit {
      background: #ff5722;
      border-color: #fff;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 50px;
      margin-top: 20px;
  }
  form .submit:hover {
      background-color: #f44336;
      cursor: pointer;
  }
