html {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/img/blue-background.jpg);
    background-position: center;
    background-position-y: -70px;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
  }

  /* Top */

 

  /* Logo */

  .logo>a>img{
      width: 190px;
      float: left;
      margin-left: 20px;
      margin-top: 15px;
    }

  .login>a>img{
    float: right;
    width: 65px;
    margin-top: -42px;
    margin-right: 40px;
  }
  
/* NavBar */
  #menu-nav {
    max-width: 900px;
    margin: -5px auto;
    background-color: #639cdd9f;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navigation-bar ul {
    margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  #navigation-bar li {
    float: left;
    width: 80%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #700d26;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #ffffff;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
  
  li {
      list-style: none;
  }

  /* Description */
  .Description{
      background-image: linear-gradient(to left, #639cddc5, #fa6c8fa1, #639cddc5);
      /* background-color: #f37a98; */
      width: 100%;
      margin-top: 110px;
      height: 70px;
  }
  .Description>h1{
      color: white;
      font-family: 'Dancing Script', cursive;
      font-size: 35px;
      text-align: center;
      padding-top: 15px;
      
  }

/* Review Title */

.review-title{
  text-align: center;
  margin: 30px auto;
  
}

.review-title>h3{
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 300px;
  margin: auto;
  

  
}

  /* Carousel */


#reviews>.carousel-inner>.carousel-item{
  height: 230px;
}

#reviews>.carousel-inner>.carousel-item>.persona{
  
  background-color: rgba(255, 255, 255, 0.856);
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 0px auto;
  border: 1px white solid;
  border-radius: 15px;
  align-items: center;
  
 
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys{
  margin-left: 25px;
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys>img{
    width: 150px;
    border-radius: 50%;
    align-self: right;
    margin-top: 20px;
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys>h1{
  align-self: center;
  font-size: 24px;
}

#reviews>.carousel-inner>.carousel-item>.persona>p{
  text-align: left;
  font-size: 22px;
  margin-left: 60px;
  margin-right: 15px;
  max-height: 300px;
}

/* Register */

.registerTitle{
  text-align: center;
  margin: 30px auto;
}

.registerTitle>h3{
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 300px;
  margin: auto;

}

.register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.897);
  width: 800px;
  margin: 20px auto;
  border-radius: 15px;
}

.register>a{
  text-decoration: none;
}

.register>a>.option{
  background-color: rgba(0, 0, 0, 0.568);
  margin: 30px;
  width: 250px;
  border-radius: 10px;
}

.register>a>.option>img{
  width: 170px;
  align-content: center;
  margin-left: 40px;
}

.register>a>.option>p{
  color: white;
  text-align: center;
  font-size: 1.2rem;

}

.register>a>.option>h4{
  color: white;
  text-align: center;
}


/* Footer */
footer{
  background-color: rgba(78, 78, 78, 0.925);
  color: white;
}
/* MEDIA */
@media screen and (max-width: 1400px) {
  #menu-nav {
    max-width: 700px;
    margin: -5px auto;
    background-color: #639cdd9f;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navigation-bar ul {
    margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  #navigation-bar li {
    float: left;
    width: 60%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #700d26;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #ffffff;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
  
  li {
      list-style: none;
  }

  .logo>a>img{
    width: 150px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
  }

.login>a>img{
  float: right;
  width: 50px;
  margin-top: -42px;
  margin-right: 40px;
}


}
@media screen and (max-width: 1150px){
  .Description{
    background-image: linear-gradient(to left, #639cddc5, #fa6c8fa1, #639cddc5);
    /* background-color: #f37a98; */
    width: 70%;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-radius: 15px;
}
.Description>h1{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    
}
}
@media screen and (max-width: 1050px){
  .logo>a>img{
    width: 120px;
    float: left;
    margin-left: 15px;
    margin-top: 80px;
  }

.login>a>img{
  float: right;
  width: 50px;
  margin-top: 20px;
  margin-right: 40px;
}

#menu-nav {
  max-width: 900px;
  margin:  auto;
  background-color: #639cdd9f;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 70%;
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#navigation-bar li {
  float: left;
  width: 65%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #700d26;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #ffffff;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}

li {
    list-style: none;
}


}
@media screen and (max-width: 800px){
  .logo>a>img{
    width: 140px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
  }

.login>a>img{
  float: right;
  width: 65px;
  margin-top: 2px;
  margin-right: 40px;
}

#navigation-bar a {
  font-size: 18px;
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys>img{
  width: 130px;
  border-radius: 50%;
  align-self: right;
  margin-top: 20px;
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys>h1{
  align-self: center;
  font-size: 22px;
}

#reviews>.carousel-inner>.carousel-item>.persona>p{
  text-align: left;
  font-size: 22px;
  margin-left: 60px;
  margin-right: 15px;
  max-height: 400px;
}

#reviews>.carousel-inner>.carousel-item>.persona{
  width: 600px;
}

.register{
  width: 600px;
}

.register>a>.option>img{
  width: 100px;
  margin-left: 70px;
}
.register>a>.option>p{
  font-size: 1rem;
}

.Description{
  height: 130px;
  width: 500px;
}

#navigation-bar ul {
  margin: 0px auto;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#navigation-bar li {
  
  float: left;

}

@media screen and (max-width: 650px){
  #menu-nav {
    width: 100%;
    margin: auto;
    background-color: #639cdd9f;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navigation-bar ul {
    margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  #navigation-bar li {
    margin: auto;
    width: 100%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #700d26;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #ffffff;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
  
  li {
      list-style: none;
  }

  .logo>a>img{
    width: 110px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }

.login>a>img{
  width: 65px;
  margin-top: 25px;
}

#reviews>.carousel-inner>.carousel-item>.persona{
  width: 500px;
}

#reviews>.carousel-inner>.carousel-item>.persona>.Guys>img{
  width: 120px;
  border-radius: 50%;
  align-self: right;
  margin-top: 10px;
}
#reviews>.carousel-inner>.carousel-item>.persona>p{
  text-align: left;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 5px;
  max-height: 600px;
}
#reviews>.carousel-inner>.carousel-item>.persona>h1{
  font-size: 20px;
}
.registerTitle{
  text-align: center;
  margin: 30px auto;
}

.registerTitle>h3{
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 300px;
  margin: auto;

}

.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.897);
  width: 300px;
  margin: 20px auto;
  border-radius: 15px;
}
}
